* {
    overflow: hidden;
    box-sizing: border-box;
    font-family: 'Proxima Nova Alt';
    color: #fff;
    -webkit-user-select: none;
}

video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.parentbody{
    position: relative;
    height: 100vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    width: 80%;
    height: 80%;
    background-color: #202020;
    border-radius: 20px;
    border-color: #202020;
    box-shadow: 0 4px 8px 0 rgba(67, 70, 75, 0.24), 0 6px 20px 0 rgba(202, 193, 193, 0.3);
}

.innerbody{
    display: flex;
}

.leftside{
    height: 800px;
    width: 500px;

}

.rightside{
    height: 900px;
    flex-grow: 1;
    background-color: #19191919;
}

.pfp{
    height: 300px;
    width: 300px;
    background-image: url(Files/Pfp.gif);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 900px;
    display: block;
    margin: auto auto;
    margin-top: 100px;
}

.description{
    width: 100%;
    height: 100%;
}

h5{
    margin: 40px 40px;
    margin-top: 0px;
}

.linkcontainer{
    width: 96%;
    height: 80%;
    background-color: #202020;
    margin: 20px;
    border-radius: 5px;
}

.links{
    width: 100%;
    height: 100%;
}

.prj1{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.project1{
    width: 350px;
    background-image: url();
}

.project2{
    width: 350px;
    background-image: url();
}

.bitterjump{
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    background-image: url(Files/bitterjump.png);
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(67, 70, 75, 0.24);
}

.commingsoon{
    margin: auto;
    margin-top: 30px;
    width: 250px;
    height: 250px;
    background-color: blue;
    border-radius: 20px;
    box-shadow: 4px 4px 4px 4px rgba(67, 70, 75, 0.24);
}

.socials{
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
    margin-top: 20px;
}

.social1{
    width: 450px;
    height: auto;
    background-color: #272727;
    margin: 5px;
    display: flex;
    border-radius: 10px;
    transition: ease-in 0.3s;
}

.icons{
    width: 60%;
    height: 60%;
    margin-top: 12px;
}

.social1:hover{
    cursor: pointer;
    transition: ease-in 0.3s;
    background-color: #303030;
}


@media only screen and (max-width:1400px) {
    /* For tablets: */
    .btn {
      width: 450px;
    }
    .linkcontainer{
        width: auto;
        height: auto;
    }
    .pfp{
        margin-top: 40px;
        height: 200px;
        width: 200px;
    }
    .leftside{
        width: 300px;
    }
    h5{
        margin: 20px 20px;
    }
}

@media only screen and (max-width:500px) {
    .rightside{
        display: none;
    }
    h5{
        margin: 40px 40px;
    }
    .leftside{
        width: 100%;
    }
}

@media only screen and (max-height:740px) {
    .rightside{
        display: none;
    }
    h5{
        margin: 40px 40px;
    }
    .leftside{
        width: 100%;
        overflow: auto;
    }
    .description{
        height: 90%;
    }

}

